@import 'variables';

body {
    position: relative;
    width: 320px;
    height: 1792px;
    left: 720px;
    background-color: $white;

    A {
        color: #000000;
    }
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    width: 320px;
    height: 1792px;
    background-color: #D6F0EC;
}


.header__logo {
    position: absolute;
    width: 120.82px;
    height: 25.72px;
    margin-left: 16px;
    margin-top: 35.06px;
}

.header__text {
    /*display: inline-grid;
    position: absolute;
   /* grid-column: 2 / 3;*/
    width: 108px;
    height: 32px;
    margin-left: 196px;
    margin-top: 32px;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
    /* or 123% */
    text-align: right;
    text-decoration-line: underline;
}

.main__invited {
    position: absolute;
    width: 288px;
    height: 528px;
    margin-left: -288px;
    margin-top: 96px;
}

.main__message {
    position: absolute;
    width: 288px;
    height: 688px;
    left: 16px;
    margin-top: 640px;
}

.message__text__h3 {
    position: absolute;
    width: 252px;
    height: 30px;
    left: 34px;
    top: 683px;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    color: #191919;
}

.message__text__a {
    position: absolute;
    width: 252px;
    height: 360px;
    left: 34px;
    top: 727px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: #3B3B3B;
}

.complete {
    position: absolute;
    width: 252px;
    height: 64px;
    left: 34px;
    top: 1232px;
}

.q__text__1 {
    position: absolute;
    width: 252px;
    height: 120px;
    left: 34px;
    top: 1383px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    color: #000000;
    opacity: 0.5;
}

.q__text__1__mailto {
    position: absolute;
    width: 252px;
    height: 48px;
    left: 34px;
    top: 1447px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    color: #000000;
    opacity: 0.5;
}

a:link {
    color: #000000;
    text-decoration: none;
}

.a__text__2 {
    position: absolute;
    width: 252px;
    height: 48px;
    left: 34px;
    top: 1519px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    color: #000000;
    opacity: 0.5;
}

.buttons__instargam {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 55px;
    top: 1628px;
}

.buttons__facebook {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 114px;
    top: 1628px;
}

.buttons__linkedin {
    position: absolute;
    width: 32px;
    height: 29.09px;
    left: 173px;
    top: 1628px;
}

.buttons__twitter {
    position: absolute;
    width: 32px;
    height: 26.67px;
    left: 232px;
    top: 1631px;
}

.footer {
    position: absolute;
    width: 252px;
    height: 48px;
    left: 34px;
    top: 1687px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    color: #191919;
}