$white: #FFFFFF;
$bgc_r: linear-gradient(270deg, #F15353 0%, rgba(18, 18, 18, 0.0001) 100%);
$bgc_b: linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0.894395) 50.64%, rgba(21, 21, 21, 0.882567) 87.65%, #151515 100%);