body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Russo One', sans-serif;
  max-width: 600px;
  height: 300px;
  grid-gap: 30px;
  margin-top: 201px;
  margin-left: 133px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
}

.container {
  width: 600px;
  height: 300px;
  margin-left: 0px;
  margin-top: 0px;
}

.container__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: minmax(100px, auto);
      grid-template-rows: minmax(100px, auto);
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  background-color: linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0.894395) 50.64%, rgba(21, 21, 21, 0.882567) 87.65%, #151515 100%);
  position: absolute;
  width: 103px;
  height: 25px;
  margin-left: 30px;
  margin-top: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
}

.container__header__website-url {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 11.7331px;
  line-height: 14px;
  color: #FFFFFF;
}

.header__logo {
  display: -ms-grid;
  display: grid;
  position: absolute;
  width: 103px;
  height: 25px;
  margin-left: 10px;
  margin-top: 0px;
}

.container {
  display: -ms-grid;
  display: grid;
  position: absolute;
  width: 300px;
  height: 173px;
  margin-left: -15px;
  margin-top: 6px;
}

.container__header__website {
  display: -ms-grid;
  display: grid;
  position: absolute;
  width: 127px;
  height: 14px;
  left: 8px;
  margin-top: 97px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 11.7331px;
  line-height: 14px;
  color: #FFFFFF;
}

.buttons__facebook {
  position: absolute;
  width: 5px;
  height: 9px;
  margin-left: 32px;
  margin-top: 206px;
}

.buttons__instargam {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 55px;
  top: 206.74px;
}

.buttons__twitter {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 79px;
  top: 206.74px;
}

.buttoun__youraccount {
  position: absolute;
  width: 68px;
  height: 12px;
  left: 102px;
  top: 211px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

.container__header__data {
  position: absolute;
  width: 141px;
  height: 74px;
  margin-left: 383px;
  margin-top: 144px;
}

.container__header__offer {
  display: -ms-grid;
  display: grid;
  position: absolute;
  width: 230.14px;
  height: 281.01px;
  left: 111.38px;
  right: 221.48px;
  margin-top: -22px;
}

.container__header__heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
  position: absolute;
  width: 211px;
  height: 141px;
  left: 358px;
  margin-top: -36px;
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-weight: normal;
  font-size: 52.12px;
  line-height: 51px;
  color: #FFFFFF;
  /* or 98% */
}

.container__header__heading__contacts {
  position: absolute;
  width: 141px;
  height: 74px;
  margin-left: -8px;
  margin-top: 145px;
}

.buttons__phone {
  position: absolute;
  left: 0%;
  right: 90.83%;
  top: 1.2px;
  bottom: 11.18%;
}

.buttons__email {
  position: absolute;
  left: 0%;
  right: 92.82%;
  top: 235px;
  bottom: 1.89%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10.6967px;
  line-height: 13px;
  /* identical to box height */
  letter-spacing: -0.0641803px;
  color: #FFFFFF;
}

.buttons__email__text {
  position: absolute;
  height: 13px;
  left: -8px;
  right: 0.9%;
  margin-top: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10.6967px;
  line-height: 13px;
  /* identical to box height */
  letter-spacing: -0.0641803px;
  color: #FFFFFF;
}

.buttons__adress {
  position: absolute;
  left: 0%;
  right: 94.62%;
  top: 72px;
  bottom: 11.03%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  font-size: 10.6967px;
  line-height: 13px;
}

.buttons__adress__.buttons__adress_text {
  position: absolute;
  left: 0%;
  right: 94.62%;
  top: 72px;
  bottom: 11.03%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  font-size: 10.6967px;
  line-height: 13px;
}

.container__header__heading__case {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
  position: fixed;
  width: 218px;
  height: 43px;
  left: 516px;
  margin-top: 133px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20.8068px;
  line-height: 24px;
  color: #F15353;
}

.bc {
  background-color: #151515;
  width: 600px;
  height: 300px;
  margin-left: 0px;
  margin-top: 0px;
}

/*Tablets*/
@media screen and (max-width: 768px) {
  .header {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

/*Phones*/
@media screen and (max-width: 640px) {
  .header {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */